Client/Service References/ServiceG2A/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">G2A.com service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GamesPK">
        <s:complexType />
      </s:element>
      <s:element name="GamesPKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GamesPKResult" type="tns:ArrayOfGryPK" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGryPK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GryPK" nillable="true" type="tns:GryPK" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GryPK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cena" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:element name="GamesMZ">
        <s:complexType />
      </s:element>
      <s:element name="GamesMZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GamesMZResult" type="tns:ArrayOfGryMZ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGryMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GryMZ" nillable="true" type="tns:GryMZ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GryMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cena" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsersMZ">
        <s:complexType />
      </s:element>
      <s:element name="UsersMZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersMZResult" type="tns:ArrayOfUzytkownicyMZ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUzytkownicyMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UzytkownicyMZ" nillable="true" type="tns:UzytkownicyMZ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UzytkownicyMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haslo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwisko" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="miasto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="k_pocztowy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ulica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_domu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_bloku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_mieszkania" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="typ_konta" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="UsersPK">
        <s:complexType />
      </s:element>
      <s:element name="UsersPKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersPKResult" type="tns:ArrayOfUzytkownicyPK" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUzytkownicyPK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UzytkownicyPK" nillable="true" type="tns:UzytkownicyPK" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UzytkownicyPK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haslo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwisko" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="miasto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="k_pocztowy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ulica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_domu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_bloku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_mieszkania" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="typ_konta" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlatNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GamesPKSoapIn">
    <wsdl:part name="parameters" element="tns:GamesPK" />
  </wsdl:message>
  <wsdl:message name="GamesPKSoapOut">
    <wsdl:part name="parameters" element="tns:GamesPKResponse" />
  </wsdl:message>
  <wsdl:message name="GamesMZSoapIn">
    <wsdl:part name="parameters" element="tns:GamesMZ" />
  </wsdl:message>
  <wsdl:message name="GamesMZSoapOut">
    <wsdl:part name="parameters" element="tns:GamesMZResponse" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapIn">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapOut">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="DelGameSoapIn">
    <wsdl:part name="parameters" element="tns:DelGame" />
  </wsdl:message>
  <wsdl:message name="DelGameSoapOut">
    <wsdl:part name="parameters" element="tns:DelGameResponse" />
  </wsdl:message>
  <wsdl:message name="UsersMZSoapIn">
    <wsdl:part name="parameters" element="tns:UsersMZ" />
  </wsdl:message>
  <wsdl:message name="UsersMZSoapOut">
    <wsdl:part name="parameters" element="tns:UsersMZResponse" />
  </wsdl:message>
  <wsdl:message name="UsersPKSoapIn">
    <wsdl:part name="parameters" element="tns:UsersPK" />
  </wsdl:message>
  <wsdl:message name="UsersPKSoapOut">
    <wsdl:part name="parameters" element="tns:UsersPKResponse" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapOut">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapIn">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapOut">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:portType name="G2A.comSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GamesPK">
      <wsdl:input message="tns:GamesPKSoapIn" />
      <wsdl:output message="tns:GamesPKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GamesMZ">
      <wsdl:input message="tns:GamesMZSoapIn" />
      <wsdl:output message="tns:GamesMZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input message="tns:AddGameSoapIn" />
      <wsdl:output message="tns:AddGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <wsdl:input message="tns:DelGameSoapIn" />
      <wsdl:output message="tns:DelGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsersMZ">
      <wsdl:input message="tns:UsersMZSoapIn" />
      <wsdl:output message="tns:UsersMZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsersPK">
      <wsdl:input message="tns:UsersPKSoapIn" />
      <wsdl:output message="tns:UsersPKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <wsdl:input message="tns:NewUserSoapIn" />
      <wsdl:output message="tns:NewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input message="tns:DelUserSoapIn" />
      <wsdl:output message="tns:DelUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="G2A.comSoap" type="tns:G2A.comSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamesPK">
      <soap:operation soapAction="http://tempuri.org/GamesPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamesMZ">
      <soap:operation soapAction="http://tempuri.org/GamesMZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <soap:operation soapAction="http://tempuri.org/DelGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersMZ">
      <soap:operation soapAction="http://tempuri.org/UsersMZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersPK">
      <soap:operation soapAction="http://tempuri.org/UsersPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap:operation soapAction="http://tempuri.org/NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="G2A.comSoap12" type="tns:G2A.comSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamesPK">
      <soap12:operation soapAction="http://tempuri.org/GamesPK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamesMZ">
      <soap12:operation soapAction="http://tempuri.org/GamesMZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap12:operation soapAction="http://tempuri.org/AddGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <soap12:operation soapAction="http://tempuri.org/DelGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersMZ">
      <soap12:operation soapAction="http://tempuri.org/UsersMZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersPK">
      <soap12:operation soapAction="http://tempuri.org/UsersPK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap12:operation soapAction="http://tempuri.org/NewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap12:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="G2A.com">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">G2A.com service</wsdl:documentation>
    <wsdl:port name="G2A.comSoap" binding="tns:G2A.comSoap">
      <soap:address location="http://localhost:63450/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="G2A.comSoap12" binding="tns:G2A.comSoap12">
      <soap12:address location="http://localhost:63450/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>