ServiceG2A/Service References/MZ/WebServiceMZ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUzytkownicyMZ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUzytkownicyMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UzytkownicyMZ" nillable="true" type="tns:UzytkownicyMZ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UzytkownicyMZ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haslo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwisko" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="miasto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="k_pocztowy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ulica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_domu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_bloku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nr_mieszkania" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="typ_konta" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BlockNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlatNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGames">
        <s:complexType />
      </s:element>
      <s:element name="GetGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGamesResult" type="tns:ArrayOfGryMZ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGryMZ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GryMZ" nillable="true" type="tns:GryMZ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GryMZ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="opis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cena" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapOut">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapIn">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="DelUserSoapOut">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetGamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGames" />
  </wsdl:message>
  <wsdl:message name="GetGamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGamesResponse" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapIn">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapOut">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="DelGameSoapIn">
    <wsdl:part name="parameters" element="tns:DelGame" />
  </wsdl:message>
  <wsdl:message name="DelGameSoapOut">
    <wsdl:part name="parameters" element="tns:DelGameResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMZSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <wsdl:input message="tns:NewUserSoapIn" />
      <wsdl:output message="tns:NewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input message="tns:DelUserSoapIn" />
      <wsdl:output message="tns:DelUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <wsdl:input message="tns:GetGamesSoapIn" />
      <wsdl:output message="tns:GetGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input message="tns:AddGameSoapIn" />
      <wsdl:output message="tns:AddGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <wsdl:input message="tns:DelGameSoapIn" />
      <wsdl:output message="tns:DelGameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMZSoap" type="tns:WebServiceMZSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap:operation soapAction="http://tempuri.org/NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <soap:operation soapAction="http://tempuri.org/GetGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <soap:operation soapAction="http://tempuri.org/DelGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMZSoap12" type="tns:WebServiceMZSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap12:operation soapAction="http://tempuri.org/NewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap12:operation soapAction="http://tempuri.org/DelUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <soap12:operation soapAction="http://tempuri.org/GetGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap12:operation soapAction="http://tempuri.org/AddGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGame">
      <soap12:operation soapAction="http://tempuri.org/DelGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMZ">
    <wsdl:port name="WebServiceMZSoap" binding="tns:WebServiceMZSoap">
      <soap:address location="http://localhost:22954/WebServiceMZ.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMZSoap12" binding="tns:WebServiceMZSoap12">
      <soap12:address location="http://localhost:22954/WebServiceMZ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>